// app global css
.fit-inherit {
  height: inherit;
  width: inherit;
  min-width: 100%;
  min-height: 100%;
}

.border-right {
  border-right: 1px solid;
}

.border-bottom {
  border-bottom: 1px solid;
}

.clear-fix::after {
  display: block;
   content: "";
   clear: both;
}
